@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}
/* Swap button */
.btn {
    color: white;
    background-color: #fc4b37;
    border: #e07e5d;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px 10px 20px ;
}
.btn:hover {
    background-color: #f53823 ;
    border: #d4633e;
}
.btn:active {
    background-color: #fc4b37;
    border: #e07e5d;
}
.swap-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* img */
.money_img {
    width: 215px;
}
.currency {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
select{
    padding: 10px 20px 10px 20px;
    border: 3px solid rgb(143, 159, 174);
    font-size: 15px;
    appearance: none;
    border-radius: 5px;
    outline-color: transparent;
}
select:focus {
    border-color: transparent;
    outline-color: #f53823;
    
}
input{
    border-radius: 5px;
    border: none; 
    font-size: 25px;
    text-align:right;
    padding: 5px;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
